*{
    border: 0.1px solid;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: calc(100%-2%);
    margin: 2% 1% 2% 1%;
}

.text-p{
    font-size: 10px;
}

.header{
    display: flex;
    margin: 0;
    padding: 0;
    align-items: flex-start;
    justify-content: flex-start;
}

.header__img{
    width: 60%;
}

.heading{
    font-size: 12px;
    padding: 2%;
}

@media (max-width: 300px){
    .header{
        display: block;
    }

    .header__img{
        width: 30%;
    }
    
    .heading{
        font-size: 20px;
        padding: 2%;
    }

    .text-p{
        font-size: 14px;
    }
}