<!-- app-footer: Deberá mostrar varios enlaces a distintas redes sociales. 
    Al pasar el cursor por encima de cada uno de los enlaces este deberá 
    cambiar de color o ponerse en negrita. -->

<div class="footer">
    <a class="footer__link" href="https://github.com/adriandearias/UpgradeHub/tree/main/angular/avengers-angular"><img class="link__img link__img--zoom" src="https://static.vecteezy.com/system/resources/previews/018/930/587/non_2x/linkedin-logo-linkedin-icon-transparent-free-png.png" alt=""></a>
    <a class="footer__link" href="https://www.linkedin.com/in/adriandearias/"><img class="link__img link__img--zoom" src="https://icon-library.com/images/github-icon-white/github-icon-white-6.jpg" alt=""></a>
</div>

