p {
    color: red;
}

.b-text{
    color: blueviolet;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
.u-color-sec{
    color: blue;
}


#section-1{
    background-color: aquamarine;
}

/* SELECTORES MULTIPLES */

span, a{
    color: chocolate;
}

section p {
    color: lime;
}

.u-color-third{
    color: lime;
}
