.env
.DS_Store
/mongodb/02112023/node_modules
package-lock.json
typescript/node_modules
/html-css/instant-gaming-home-html-sass-bootstrap/node_modules
/node/02212023/node_modules
/node/02212023/package-lock.json
/node/02212023/.env

/node/02232023/libreria/node_modules
/node/02232023/libreria/package-lock.json
/node/02232023/libreria/.env

/node/02252023/school/node_modules
/node/02252023/school/package-lock.json
/node/02252023/school/.env
/node/02232023/libreria/src/utils/seeds

/node/backend-movies/src/utils/seeds
/node/backend-movies/.env
/node/backend-movies/package-lock.json
/node/backend-movies/node_modules

/node/02282023/package-lock.json
/node/02282023/node_modules
/node/02282023/.env

/node/03022023/package-lock.json
/node/03022023/node_modules
/node/03022023/.env