*{
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
}

.header{
    width: 100%;
    box-shadow: 0px 0px 8px rgba(0,0,0,.6);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: center;
}

.header-logo{
    margin-left: 5%;
    text-align: center;
    border: 1px solid;
}

.header-sign{
    height: 100%;
    text-align: center;
    border: 1px solid;
}

.main-create-account{
    border: 1px solid;
    margin: 5% 50% 7% 10%;
}