.product{
    border: 1px solid gray;
    padding: 16px;
    
    &__materials{
        margin-bottom: 8px;
    }
    &__button{
        border: none;
        padding: 8px;
        &--remove{
            background-color: blueviolet;
            font-weight: 300;
            color: white;
        }
    }
    &__text{
        margin-bottom: 8px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    &__buttons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
    }
    &__image{
        object-fit: cover; //! repasar
    }
}