body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.653);
    font-weight: normal;
    width: 100%;
    height: 100vh;
}

.txt-xs{
    font-size: 10px;
}

.txt-s{
    font-size: 12px;
}

.txt-m{
    font-size: 16px;
}

.txt-l{
    font-size: 18px;
}

.txt-xl{
    font-size: 22px;
}

.txt-red{
    color: rgb(212, 81, 81)!important;
}

a:link{
    text-decoration: none;
    color:black;
}

a:hover{
    text-decoration:underline;
    color:black;
}

.txt-bold{
    font-weight: 900;
}

.pdr-5{
    padding-right: 5px;
}

ul{
    list-style-type: none;
}

.header__container{
    width: 100%;
    display: inline-block;
    padding-top: 1%;
}

.header__nav{
    position: fixed;
}

.header__nav-group{
    margin-left: 27%;
    margin-top: 10%;
}

.header__nav-items{
    line-height: 25px;
}

.header__center{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    line-height: 1px;
}

.mr-15{
    margin-right: 200px;
}

.display-flex{
    display: flex;
}

.header__icons{
    width: 20px;
}

.header__search-icons{
    align-content: flex-end;
    position: absolute;
}

.nav__menu{

}