body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.653);
    font-weight: normal;
    width: 100%;
    height: 100vh;
}

.txt-xxs{
    font-size: 8px;
}

.txt-xs{
    font-size: 10px;
}

.txt-s{
    font-size: 12px;
}

.txt-m{
    font-size: 16px;
}

.txt-l{
    font-size: 18px;
}

.txt-xl{
    font-size: 22px;
}

.txt-xxl{
    font-size: 32px;
}

.txt-red{
    color: rgb(212, 81, 81)!important;
}

a:link{
    text-decoration: none;
    color:black;
}

a:hover{
    text-decoration:underline;
    color:black;
}

a:visited{
    text-decoration: none;
    color:black;
}

.txt-bold{
    font-weight: 900;
}

.pdr-5{
    padding-right: 5px;
}

ul{
    list-style-type: none;
}

.header__nav{
    position: absolute;
}

.header__nav-group{
    padding-left: 27%;
    padding-top: 10%;
}

.header__nav-items{
    line-height: 25px;
}

.header__content{
    display: flex;
    margin-bottom: 0;
    padding-bottom: 0;
}

.header__center{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15%;
    margin-bottom: 0;
    padding-bottom: 0;
    flex-grow: 1;
    height: 60px;
}

.header__search{
    flex-grow: 0;
    margin-top: 1%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.input-filter{
    width: 160px;
    text-align: left;
    border:none;
    border-bottom: 1px solid #1d1d1d;
}

.header__icons{
    width: 9%;
}

.header__sub{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__sub-nav{
    display: flex;
    justify-content: center;
    margin-top: 0;
    flex-grow: 1;
    padding-left: 18%;
}

.header__sub-filter{
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
    margin-right: 20px;
}

/* MAIN STARTS */

.main__gallery{
    display: flex; 
    align-items: center;
    align-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 4%;
}

.main__item{
    height: 400px;
    margin: 8px;
}

.main__item-name{
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.main__item-price{
    margin-top: 0;
    text-align: center;
    font-weight: 900;
}

.main__item:hover{
    border-radius: 30px;
    border: solid 0.01px rgb(163, 161, 161);
    transition: border-radius 500ms linear;
}

.main__rrss-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2px;
    box-shadow: inset 0 1px 3px -2px rgba(0,0,0,0.8);
    padding-top: 3%;
}

.input-rrss{
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
    border:none;
    border-bottom: 1px solid #1d1d1d;
    padding: 1%;
}

.bold{
    font-weight: 900;
}

.main__contacto-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    line-height: 2px;
    box-shadow: inset 0 1px 3px -2px rgba(0,0,0,0.8);
    padding-top: 2%;
    padding-bottom: 1%;
    margin-bottom: 2%;
}

.contacto__list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto__icons{
    height: 20px;
}

/* FOOTER STARTS */

.footer{
    
}

.footer__container{

}

.footer__list{

}

.footer__link{
    
}