*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    margin-top: 1%;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
}

.aside-logo{
    padding-top: 3%;
    padding-bottom: 100vh;
}

.aside-logo img{
    width: 120%;
}

main{
    padding-top: 2%;
    width: 70vh;
    /* border: 1px solid;   */
    padding-left: 5%;
    text-align: left;
    color: #525151;
}

h1 {
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    color: black;
    padding-bottom: 30px;
}

main p{
    font-size: 14px;
    line-height: 1.4;
}

a:link{
    text-decoration: none;
    color: cornflowerblue;
}

a:visited{
    text-decoration: none;
    color: cornflowerblue;
}

a:hover{
    text-decoration: none;
    color: grey;
}

/* form styles */
form{
    padding-top: 20px;
}

form div p span{
    font-weight: 600;
}

input{
    margin-top: 12px;
    margin-bottom: 12px;
}

#input-name{
    width: 100%;
    height: 34px;
    margin-bottom: 10px;
}

#input-email{
    width: 100%;
    height: 34px;
}

#input-psw{
    width: 100%;
    height: 34px;
}

.pswd-req{
    padding-top: 20px;
    padding-left: 10px;
    font-size: 14px;
    display: flex;
}

ul {
    display: inline-block;
    gap: 10px;
    list-style: none;
    margin-bottom: 20px;
  }

.ul-right{
    margin-left: 100px;
}

li::before {
    content: "•"; 
    color: #55877A;
    display: inline-block; 
    width: 1em;
    margin-left: -0.5em}

/* .reject-e-form{
    font-size: 14px;
    line-height: 0.7;
} */

.check-terms-form{
    display: flex;
}

.check-terms-form p{
    padding-left: 15px;
    font-size: 14px;
    line-height: 1.3;

}

button{
    border-radius: 3px;
    border-color: #AEADAD;
    width: 290px;
    height: 50px;
    background-color: white;
    font-size: 14px;
    color: #AEADAD;
    font-weight: 600;
    letter-spacing: 2px;
    cursor:pointer;
    margin-right: 20px;
}

.button-terms-container{
    display: flex;
    margin-bottom: 40px;
}