.avenger{
    text-align: center;
    padding-bottom: 20px;
    &__img{
        border-radius: 30px;
        width: 200px;
    }
    &--active{
        background-color: rgba(0, 0, 0, 0.492);
        color: bisque;
        border-radius: 30px;
    }
}